.card-form {
    display: flex;
    padding: 40px;
    width: 500px;
    flex-direction: column;
    background-color: green;
    border-radius: 20px;
    gap: 20px;
}

.number-wrapper {
    display: flex;
    justify-items: center;
    gap: 10px;
}

.card-input {
  width: 100% - 30px;
  opacity: 70%;
  border: none;
  border-radius: 10px;
}

.paying-system {
    width: 100px;
}